* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-weight: lighter;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #4372aa 33%, #ffe600 33%, #ffe600 66%, #f41000 66%);
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
}

#sobre-tabela {
    background-color: black;
    color: white;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Adiciona uma sombra suave */
  }
  
  #sobre-tabela table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #sobre-tabela th, #sobre-tabela td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid white;
  }
  
  #sobre-tabela th {
    background-color: #333;
  }
  
  #sobre-tabela tr:last-child td {
    border-bottom: none; /* Remove a linha de separação na última linha */
  }

  #sobre-tabela td i a {
    color: purple; /* Cor roxa para o link */
    text-decoration: none; /* Remove o sublinhado padrão dos links, se desejar */
  }
  
  #sobre-tabela td i a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link, se desejar */
  }

  #conteudo {
    display: block;
    color: #333;
  }

  .toggle-btn {
    padding: 12px;
    cursor: pointer;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 4px;
    top: 0;
    right: 0;
    margin: 12px;
    padding: 8px;
  }

    a {
    color: purple;
  }

  /* Estilo para links visitados */
  a:visited {
    color: rgb(216, 17, 216);
  }

  /* Estilo para links quando passa o mouse por cima */
  a:hover {
    color: rgb(167, 1, 167);
  }

  .social-links img {
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}